<%- include('./parts/headar') %>

<form action="/ar" method="POST">
	
	<input name="id" type="text">
	<button>Submit</button>

</form>

<!-- Socket script for the AR client -->
<!-- <script language="javascript" type="text/javascript" src="/js/pg/pgarsocket.js"></script> -->

</body>
</html>