<%- include('./parts/headarx') %>

<!-- locals for options -->
<script>

	let options = <%= locals.options %>

</script>

<!-- <div id="canvas_container"></div> -->

<!-- Da script -->
<script language="javascript" type="text/javascript" src="./js/pg/pgar.js"></script>

<%- include('./parts/footer') %>