<%- include('./parts/headarx') %>

<!-- <div id="canvas_container"></div> -->

<script>
	const roomId = "<%= roomId %>";
	<!-- console.log("arx.ejs roomId : ", roomId); -->
</script>

<!-- Socket script for the AR client -->
<script language="javascript" type="text/javascript" src="./js/pg/pgarsocket.js"></script>

<!-- Da script -->
<script language="javascript" type="text/javascript" src="./js/pg/pgar.js"></script>

<%- include('./parts/footer') %>