<%- include('./parts/headgenerator') %>

<!-- <div id="canvas_container"></div> -->

<!-- Da script -->
<script language="javascript" type="text/javascript" src="./js/pg/pg.js"></script>

<%- include('./parts/footer') %>