body {
	font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif;
	margin: 0px;
}
canvas {
	width: 100%;
	height: 100%;
}

a{
color:brown;
font-weight:bold;
text-decoration:none;
}
a:hover{color:red;}
a:active{color:blue;}

