<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Planets Visualizer AR</title>

	<link rel="stylesheet" href="./css.css">

	<!-- Socket IO -->
	<script language="javascript" type="text/javascript" src="./js/socket.io.js"></script>

</head>
<body>